<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/chat.css" />
    <title>WebChat</title>
  </head>
  <body>
    <h1>WebChat</h1>
    <main>
      <div id="users-container">
        <div id="customize-container">
          <input
            id="nickname-box"
            data-testid="nickname-box"
            type="text" 
            placeholder="Customize seu nick" 
            name="nickname"
          />
          <button
            id="nickname-button"
            data-testid="nickname-button"
            type="button"
          >
            Salvar
          </button>
        </div>
        <div id="users">
          <ul id="users-list"></ul>
        </div>
      </div>
      <div id="messages-container">
        <div id="messages">
          <ul id="messages-list">
            <% chatHistory && chatHistory.forEach(chatMessage=> { %>
              <li data-testid="message">
                <%= chatMessage.timestamp %> - <%= chatMessage.nickname %>: <%= chatMessage.chatMessage %>
              </li>
            <%})%>
          </ul>
        </div>
        <div id="shotMessage-container">
          <input
            id="message-box"
            data-testid="message-box"
            placeholder="Digite sua mensagem"
            type="text"
            name="message"
          />
          <button id="send-button" data-testid="send-button" type="submit">
            Enviar
          </button>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chatScript.js"></script>
  </body>
</html>
