<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <style>
    h1 {
      color: blue;
    }
  </style> -->
  <title>Webchat Project</title>
</head>
<body>
  <header>
    <h1>Webchat</h1>
  </header>
  <main class="container">
    <form action="" id="nickname">
      <input type="text" placeholder="Digite um nikname" data-testid="nickname-box">
      <button
        type="submit"
        id="nikname-button"
        data-testid="nickname-button"
      >
        Salvar
      </button>
    </form>
    <div class="chat-container">
      <div class="history" data-testid="message-box">
        <h3>Historico</h3>
        <ul id="history-list"></ul>
      </div>

      <div class="users">
        <h3>Users</h3>
        <ul id="users-list"></ul>
      </div>
    </div>

    <form action="" id="messages">
      <input type="text" placeholder="Digite uma nova mensagem aqui" data-testid="message-box">
      <button type="submit" id="msg-button" data-testid="send-button">Enviar</button>
    </form>
  </main>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <!-- <script src="js/chat.js"></script> -->
</body>
</html>