<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>WebChat Project</title>
  </head>

  <body>
    <header class="header">
      <h1>WebChat Project</h1>
    </header>
    <main class="container">
      <div class="contents">
        <div class="contents-one">
          <div class="nickname">
            <input
              type="text"
              class="nicknameBox"
              placeholder="Digite seu nickname"
              data-testid="nickname-box"
            />
            <button
              type="button"
              class="nicknameButton"
              data-testid="nickname-button"
            >
              Salvar
            </button>
          </div>
          <h2 class="title">Usuários</h2>
          <div class="users">
            <ul class="listUsers"></ul>
          </div>
        </div>
        <div class="contents-two">
          <h2 class="title">Mensagens</h2>
          <div class="chat">
            <ul class="chatMessages">
              <% messages.forEach(( post ) => { %>
              <li data-testid="message">
                <%= post.timestamp %> - <%= post.nickname %>: <%= post.message %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
      <div class="newMessage">
        <input
          type="text"
          class="messageBox"
          placeholder="Digite sua mensagem aqui"
          data-testid="message-box"
        />
        <button type="button" class="sendButton" data-testid="send-button">
          Enviar
        </button>
      </div>
    </main>
    <footer class="footer">
      <p>WebChat Project - Bloco 31/Módulo Backend - Cleber Teixeira | Full Stack Web Development - Trybe</p>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
  
</html> 
