<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="client.js" defer></script>
</head>
<body>
  <ul id="messages"></ul>
  <form action="" id="form">
    <fieldset>
      <legend>Apelido</legend>
      <input id="nickname" autocomplete="off" /> <button id="saveNickname">Salvar</button>
    </fieldset>
    <fieldset>
      <legend>Mensagem</legend>
      <input id="messageInput" autocomplete="off" /> <button id="sendMessage">Enviar</button>
    </fieldset>
</form>
</body>
</html>
