<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - Trybe</title>
    <link rel="stylesheet" type="text/css" href="/./public/css/index.css">
  </head>
  <body>
    <div class="webchat-page">
      <div class="online-users">
        <div data-testid="online-user" id="online-user">
          Olá
        </div>
        <div class="nickname">
          <input type="text" data-testid="nickname-box" id="nickname-box" />
          <button type="button" data-testid="nickname-button" id="nickname-button">Salvar</button>
        </div>
        <div class="users">
          users
        </div>
      </div>
      
      <div class="chat-messages">
        <div class="chat-header">Sala de bate papo 01</div>
        <div class="messages" id="messages-box">
          <div class="message my">
            <p>DD-MM-yyyy HH:mm:ss ${nickname} ${chatMessage}</p>
            <span>Oi tudo bem ?</span>
          </div>
          <div class="message other"><span>Tudo otimo</span></div>
        </div>
        <div class="write-message">
          <div class="new-message">
            <button class="emoji">
              <img src="../public/images/img_148977.png">
            </button>
            <button class="emoji">
              <img src="../public/images/d0679e2704e98a8041508fba4c332d49-paper-clip-stroke-icon.png">
            </button>
            <input
              type="text" 
              placeholder="Digite uma mensagem"
              id='message-to-send'
              data-testid="message-box"
            />
            <button class="emoji">
              <img src="../public/images/microfone.png">
            </button>
            <button class="emoji" id="message-send" data-testid="send-button">
              <img src="../public/images/send.png">
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/public/scripts/index.js' type="module"></script>
  </body>
  </html>