<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webchat</title>
  </head>
  <body>
    <div>
      <form id="nickname-form">
        <input type="text" id="nickname-text" data-testid="nickname-box" />
        <button type="submit" data-testid="nickname-button">Submit</button>
      </form>
      <ul id="online-list"></ul>
    </div>
    <div>
      <form id="message-form">
        <input type="text" id="message-text" data-testid="message-box" />
        <button type="submit" data-testid="send-button">Submit</button>
      </form>
      <ul id="message-list">
        <% messages.forEach((message) => { %>
          <li data-testid="message">
            <%= message.timestamp %>
            -
            <%= message.nickname %>:
            <%= message.message %>
          </li>
        <% }) %>
      </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client/nickname.js"></script>
    <script src="/client/message.js"></script>
  </body>
</html>
