.container {
  display: flex;
  justify-content: space-evenly;
}

.nick-name-form {
  border-style: groove;
  height: 25em;
}

.messages-form {
  border-style: groove;
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: space-between;
  width: 30em;
}

.message-input {
  display: inline-block;
  width: 85%;
}

.nick-name-container {
  align-items: center;
}
