body {
  align-content: space-around;
  background-color: floralwhite;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-inline-start: 6px;
}

aside {
  background-color: ghostwhite;
  border-right: 1px solid lightgray;
  overflow-y: auto;
  padding: 1em 25px;
  position: absolute;
}

.message time {
  color: gray;
  display: inherit;
  font-size: 0.8em;
}

.message span {
  color: indianred;
  font-size: 1.1em;
  font-weight: 900;
}

main {
  align-items: flex-end;
  background-color: floralwhite;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: flex-end;
  width: 50%;
}

input {
  background-color: white;
  border: none;
  border-radius: 25px;
  display: block;
  height: 1.25em;
  margin: 1em 0;
  padding: 1em;
}

hr {
  margin: 1em 0;
}

.btn-success {
  background-color: rgb(0, 124, 0);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  padding: 0.5em 8px;
  width: 100%;
}

.btn-success:hover {
  background-color: rgb(33, 143, 33);
  cursor: pointer;
}

.send-area {
  align-items: center;
  background-color: lavender;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 25px;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.chat > li {
  border-radius: 6px;
}

.chat-input {
  resize: none;
  width: 70%;
}

.send-button {
  background-color: unset;
  border-radius: 50%;
  box-sizing: border-box;
  height: 50px;
  margin: 5px 0;
  padding: 0;
  visibility: visible;
  width: 50px;
}

.user-panel > div {
  align-items: center;
  background-color: lavender;
  border-radius: 4px;
  display: flex;
  height: 42px;
  margin: 1em 0;
  padding: 0 8px;
}

.user-panel > div:hover {
  background-color: lavenderblush;
  cursor: pointer;
}

.new-user {
  align-self: center;
  background-color: rgb(238, 238, 238);
  margin: 1em 0;
  padding: 0.5em 5%;
  text-align: center;
}

.message {
  align-self: flex-start;
  background-color: rgb(209, 243, 209);
  margin-left: 25px;
  margin-top: 1em;
  padding: 0.5em;
}

@media ( min-width : 768px ) {

  aside {
    min-width: 120px;
    position: inherit;
  }
}
