* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.full-width {
  width: 100vw;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

header {
  background-color: #A1B5D8;
  height: 7vh;
  padding: 0 2vw;
  align-items: center;
}

button {
  border: 0;
  padding: 5px 10px;
  color: white;
  background-color: #738290;
  border-radius: 5px;
  text-align: center;
}

.messages {
  padding: 1vh 0 1vh 2vw;
  margin: 1vh 0;
  overflow: auto;
  max-height: 100%;
  height: 100%;
}

.messages li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.messageForm {
  position: absolute;
  background-color: #A1B5D8;
  width: 100vw;
  display: flex;
  height: 7vh;
  align-items: center;
  padding: 5px 10px;
  bottom: 0;
}
